.nursery-item[data-v-eb291c3e]{border:1px solid grey;padding:8px}.nurseries-list[data-v-ca7af860]{display:grid;grid-template-columns:repeat(auto-fit,minmax(200px,1fr));grid-gap:25px;margin:20px auto}
